@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-size: 16px;
  height: 100vh;
  background-color: white;
  
}

.logo{
  display:flex;
  justify-content:flex-end;
  /* width: 21rem; */
  margin-left: 14px;
}

.headerBody{
  border-style:  solid;
  border: black 5px;
  border-radius: 5px;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
}


.head{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

#tomato{
  font-family: 'Open Sans', sans-serif;
  color: #2D2D2D;
  font-style: italic;
  font-size: 2.2rem;
}

.locationIcon{
color: rgb(245, 112, 130);
}

.search{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-end;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 8px -5px  black;
  width: 44rem;
  height: 3.3rem;
  background-color: white;
  margin-left: 25px;
}

.location{
  display: flex;
  flex-direction: row;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  
}

.searchbar{
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
}

.search input{
  width: 25rem;
  height: 1.6rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
}

.user{
  font-family: 'Montserrat', sans-serif;
  margin-left: 10rem;
  display: block;
}

.headRow{
  display: flex;
  flex-direction:row;
  align-items: center;
  height: 3.2rem;
    margin-bottom: 55px;
}


.lists li{
  display: inline-block;
  justify-content: space-around;
  margin-right: 5rem;
  z-index: 1;
  padding: 0px;
  color: #696969;
  cursor: pointer;
}
.active{
  border-bottom: 2.5px solid rgb(245, 112, 130);
  color: rgb(245, 112, 130);
}

ul{
  padding-inline-start: 0px;
}
.lists{
  flex-direction: row;
  list-style-type: none;
  width: 70%;
  display: flex;
  /* border: 1px solid blue; */
  margin-left: 20px;
  justify-content:flex-start;
  /* position: absolute; */
  margin-bottom: 0rem;
}

.filter{
  list-style-type: none;
  /* border: 1px solid blue; */
  margin-left: 20px;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}

.filter li{
  display: flex;
  border: 1px solid rgb(200, 200, 200);
  margin-right: 2rem;
  height: 2rem;
  align-items: center;
  padding:0px 6px 0px 6px;
  border-radius: 0.4rem;
  color: #9c9c9c;
  cursor: pointer;
}


.filterBody{
display: flex;
justify-content: center;
margin-top: 25px;
margin-bottom: 12px;
font-family: 'Montserrat', sans-serif;
font-size: 14px;
  position:sticky;
    top: 0px;
    z-index: 1;
}

.delTakeout{
  border-bottom: 0.5px solid rgb(211, 211, 211);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  /* position: relative; */
}

.carasoul{
  width: 75%;
  margin-left: 45px;
}

.carasoulBody{
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 12px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.img1{
  width: 16.25rem;
  height: 11.875rem;
  border-radius: 0.6rem;
}

.carasoulHeader{
margin-top: 10px;
font-size: 1.563rem;
}



.food{
font-size: 20px;
}

.carasoulDiv{
  /* display: flex;
  flex-direction: row; */
  display:inline-flex;
}

.restaurantBody{
  display: flex;
  justify-content: center;
}

.restHeader{
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 25px;
}


.restImg{
  width: 20.5rem;
  height: 15.5rem;
  border-radius: 1rem;
}

.restCards:hover{
  box-shadow: 0px 0px 15px -10px  black;
  cursor: pointer;
}

.restCards{
  border-radius: 1rem;
  /* padding-top: 9px;
  padding-bottom: 12px; */
  padding: 9px 0px 0px 0px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  width: 20.5rem;
    height: 23.125rem;
    align-items: center;
}

.pic{
  position: relative;
  width: 20.5rem;
  height: 15.5rem;
}

.titleRating{
  padding: 3px 0 3px 0;
  width: 20.5rem;

}

.title{
  color: #1c1c1c;
  font-size: 17px;
  /* line-height: 30px; */
  font-weight: 900;
  letter-spacing: 1px;
}

.rating{
  background-color: #38882f;
  color: white;
  border-radius: 0.3rem;
  padding: 0 4px 0 4px;
  font-size: 13px;
  
}


.offer{
  position:absolute;
  bottom: 10px;
  background-color: #2781e7;
  color: white;
  font-size: 14px;
  padding: 0 5px 0 5px;
  font-weight: 500;
}

.eta{
  position: absolute;
  right: 15px;
  bottom: 10px;
  background-color: #ffffffcc;
  border-radius: 0.3rem;
  padding: 0 4px 0 4px;
  font-size: 14px;
}

.varPrice{
color: #696969;
font-size: 14px;
margin-bottom: 15px;
width: 328px;

}

/* .badge,.msg{
  border:1px solid black
} */

.notice{
  border-top:1px solid #e8e8e8;
  width: 328px;
  color: #696969;
  font-size: 12px;
  padding-top: 11px;
  
}

.footerBody{
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
}

.mainFooter{
  display: flex;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  font-size: 12px;
  flex-direction: column;
    align-items: center;
}

/* To add responsiveness */
@media(max-width:998px){
    body{
        font-size: 55%;
    }
    .search{
      display: none;
    }
    .user{
      display: none;
    }
}

@media(max-width:768px){
    body{
        font-size: 45%;
    }
    .search{
      display: none;
    }
    .user{
      display: none;
    }
}